# EditorConfig for Status26 Bash Style Guide
# See: docs/STATUS26_BASH_STYLE_GUIDE_v1.md

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{sh,bash}]
indent_style = space
indent_size = 2
max_line_length = 80

[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[*.{json,toml}]
indent_style = space
indent_size = 2
